html,body {
    width:100%;
    height: 100%;
}

.center {
    text-align: center;
    padding-bottom: 10px;
}

.section-1 {

}

.img-wrap {
    background: url("../img/big.jpg") center no-repeat;
    width:100%;
    height: 100%;

    background-size: cover;
}

section-1-img {


}

.section-2 {

}

.section-3 {
    background-color: #C0B4AD;
}
.section-3-img {
    width: 80px;
    height: 80px;
}
.section-3-text {
    text-align: center;
}

.section-4 {

}

.section-5 {

}

.section-6 {

}

/*Меню*/
.brand {
    color: white;
}
.brand:hover {
    color: white;
    background-color: #FF8000;
}
.brand:focus {
    color: white;
    background-color: #FF8000;
}

.navbar-toggle > span {
    background-color: white;
}

.navbar {
    min-height: 40px;
}

.top-navbar {
    background-color: #000000;
    opacity: 0.80;
}

.nav > li > a {
    color: white;
}

.nav > li > a:hover {
    background: #FF8000;
}

.nav > li > a:focus {
    background: #FF8000;
}